.loadIcon {
    width: 50%;
    display: inline-block;
    border-radius:50%;
    margin:4rem auto;
    max-width: 18rem;
    height: 100vh;
    width: 100vw;
    

    animation-name:rotate;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.loadIcon , .loadIcon:before , .loadIcon:after{
    position:relative;
    display: flex;
    width:50%;
    height:50%;
    max-width: 18rem;
  }
  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }
