Nav.navbar {
    background-image: linear-gradient(to right, #E97333, #B4B242 )   ;
    padding: .5rem 1.5rem;
    margin: .3rem auto;
    justify-content: flex-end;
    
    .titulo {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 2.2rem;
        margin: 0 4rem 0 1rem;
        color:white;
    }
    .nav {
        font-size: 1.2rem;
        font-weight: 900;
        align-items: center;
        margin: 0 4rem;
        background-color: transparent;
        
    }
    .linkNav{
        font-family: 'Raleway', sans-serif;
        padding: 0rem 2rem;
        color:white;
        font-weight: 900;
        cursor: pointer;
        &:hover {
            color:#4C6C14
            ;

        }
    }
    .widget {
        margin: 0 4rem;
        color:#75502d;
        font-size: 2.5rem;
    }
    .logo {
        font-size: 3rem;
        color: #4C6C14;
        transition-duration: 1s;
        &:hover {
        color: #9cec1a;
        }
    }
}
